<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
   http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>mobile-api</display-name>

	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 统一控制过滤器 -->
	<filter>
		<filter-name>globalFilter</filter-name>
		<filter-class>cn.com.yongda.filter.GlobalFilter</filter-class>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>zhimeng;qumi</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>globalFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--记录请求参数 -->
	<filter>
		<filter-name>loggingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CommonsRequestLoggingFilter</filter-class>
		<init-param>
			<param-name>includePayload</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>loggingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 前端控制器的配置 -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!--指定spring配置文件的位置 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- 所有以.html和.json的请求都由dispatcherServlet来处理的配置 -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 以Listener方式启动spring -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<!--捕获X-KJT-Agent设置异常 -->
	<error-page>
		<exception-type>cn.com.yongda.exception.AgentException</exception-type>
		<location>/error/agent-error</location>
	</error-page>

	<!--捕获所有其他异常 -->
	<error-page>
		<location>/error</location>
	</error-page>
</web-app>